/bower_components
/node_modules
/uploads/**
!uploads/README.md
.tmp/**
!.tmp/README.md
/badsender-server/express-assets
/dist
/server-config.js
/release
/TODO.md
/build/maintenance-pages

/.cache
/.mongodb
/.nuxt
/packages/documentation/api
/public/dist
/server/maintenance-pages/*.html
/s3-*
/tests/ava/snapshots
/tmp/**
.lepatronrc
.DS_Store
npm-debug.log
yarn-error.log
*.orig
/TODO.md
/packages/server/md5public.json
