.table-column-action {
  text-align: center;
  width: 1%;
  white-space: nowrap;
}

.v-application .fill-height.secondary {
  background-image: radial-gradient(
    at 100% 100%,
    rgb(0, 172, 220) 0%,
    rgb(9, 48, 64) 50%
  );
}
