.table-column-action {
  text-align: center;
  width: 1%;
  white-space: nowrap;
}

.v-application .fill-height.secondary {
  background-image: radial-gradient(
    at 100% 100%,
    rgb(0, 172, 220) 0%,
    rgb(9, 48, 64) 50%
  );
}

.v-application .tags {
  color: white;
  background-color: rgb(0, 172, 220);
  padding: 0 5px;
  border-radius: 5px;
  white-space: nowrap;
  display: inline-block;
}
.v-application .tags + .tags {
  margin-top: 2px;
  margin-left: 2px;
}

$font-family: 'Montserrat';

.v-application {
  font-family: $font-family, sans-serif !important;
}
